/* Your styles here */
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  max-width: 500px;
}
header {
  text-align: center;
  background-color: black;

  margin-inline: auto;
  font-family: "Open Sans", sans-serif;
}
main {
  font-family: "Open Sans", sans-serif;
}

header img {
  padding: 5%;
  width: 150px;
}
#prima-sezione {
  text-align: center;
  max-width: 500px;
  padding: 20px 20px;
  margin-inline: auto;
  font-family: "Open Sans", sans-serif;
  background-image: url(../images/banner.jpg);
  background-size: cover;
}
#prima-sezione h1,
#prima-sezione p,
#prima-sezione button {
  margin: 15px 0;
}

#prima-sezione h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #25a2c3;
}

#prima-sezione p {
  line-height: 1.65em;
  font-size: 1.2rem;
}

#button {
  font-family: "Montserrat", sans-serif;
  background-color: #f04c2f;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: 700;
}

#sezione-2 {
  text-align: center;
  max-width: 500px;
  padding: 20px 20px;
  margin-inline: auto;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
  font-size: 1.2rem;
}

#sezione-2 h2,
#sezione-2 p {
  padding: 10px 0;
}

#sezione-2 h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 700;
  color: #25a2c3;
}

#sezione-2 img {
  border-radius: 50%;
}

#sezione-3 {
  background-color: #f04c2f;
  color: white;
  text-align: center;

  padding: 60px 20px;
  margin-inline: auto;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
  font-size: 1.2rem;
  margin: 50px 0;
}

#sezione-3 h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
}
#sezione-3 p#primo {
  font-style: italic;
  padding: 30px 0;
}
#sezione-3 p#secondo {
  font-size: 20px;
}

#sezione-3 p#terzo {
  font-size: 15px;
}

#sezione-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #ffffff;
  max-width: 350px;
  margin: 30px 0;
  padding: 0;
  padding-bottom: 30px;
  border: 2px solid;
  border-color: rgba(222, 225, 227, 0.5);
  border-radius: 4px;
}

.card img {
  width: 100%;
  margin-inline: auto;
  border-radius: 4px;
}

.card h2,
.card p {
  padding: 10px 0;
  text-align: center;
}

.card h2 {
  color: #25a2c3;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  padding-top: 30px;
}

.card p {
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
  font-size: 1.2rem;
}

footer {
  text-align: center;
  background-color: #25a2c3;

  font-family: "Open Sans", sans-serif;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
  text-decoration: underline;
  font-family: "Open Sans", sans-serif;
}
footer h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.contatti {
  padding-top: 20px;
}
footer p {
  font-family: "Open Sans", sans-serif;
}

hr {
  width: 200px;
}

#linea {
  padding: 20px 0;
}

#footer {
  padding: 50px 0;
}

.nolinea {
  text-decoration: none;
}
